.inputCheckBox {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.checkbox {
  font-size: var(--font-xl);
  background-color: var(--light);
  padding: 10px 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.label {
  font-size: var(--font-xl);
  margin-right: 12px;
}

.error {
  margin-top: 8px;
  font-size: 14px;
  color: var(--danger);
}
