.sidebar {
  width: 320px;
  height: 100%;
  background: var(--light);
  min-height: 100vh;
  padding: 24px 8px;
}

.side_item {
  margin: 4px 0;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_item:hover {
  background: var(--whiteSmoke);
}

.sidebar_active {
  background: var(--ditheredSky);
}

.sidebar_active:hover {
  background: var(--ditheredSky);
}

.side_label {
  display: flex;
  align-items: center;
}

.side_label_item {
  margin-left: 4px;
}

.sidebar_sub {
  background: var(--whiteSmoke);
}

.sidebar_sub_item {
  margin: 4px 0;
  padding: 8px 42px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar_sub_item:hover {
  background: var(--light);
}

.sidebar_sub_active {
  background: var(--ditheredSky);
}

.sidebar_sub_active:hover {
  background: var(--ditheredSky);
}
