.modal {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 48px 0;
}

.logout_modal {
  width: 600px;
  position: relative;
  background: var(--primaryColor);
}

.logout_modal .logout_title {
  font-size: var(--font-2xl);
  color: var(--light);
}

.logout_actions {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.logout_btn {
  padding: 6px 22px;
  color: var(--light);
  background: var(--dark);
  border: none;
  cursor: pointer;
  font-size: var(--font-xl);
}
