.modal {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 48px 0;
}

.logout_modal {
  width: 600px;
  position: relative;
  background: var(--primaryColor);
}

.logout_modal .logout_title {
  font-size: var(--font-2xl);
  color: var(--light);
}

.logout_actions {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.logout_btn {
  padding: 6px 22px;
  color: var(--light);
  background: var(--dark);
  border: none;
  cursor: pointer;
  font-size: var(--font-xl);
}

/* 
Category option */

.category_modal {
  width: 600px;
  position: relative;
}

.category_modal_layout {
  margin: 20px 0;
}

.category_modal_image_layout {
  width: 200px;
  height: 150px;
  margin-bottom: 5px;
}

.category_modal_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category_modal_title {
  margin-top: 3px;
  font-size: var(--font-xl);
}
